.list {
    text-align: center;
}

.answer-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.answer-list label {
    display: flex;
    justify-content: space-between;
}

.answer-btn {
    font-size: calc(2vmin);
    padding: 7px 20px;
    border-radius: 30px;
    background-color: rgb(12, 78, 139);
    color: white;
    margin-left: 60px;
    text-align: end;
}

.replay-btn {
    font-size: calc(2vmin);
    border-radius: 30px;
    padding: 7px 20px;
    background-color: #282c34;
    color: #f6f6e9;
    margin-top: 100px;
}