.list {
    text-align: center;
    @media (max-width: 1000px) {
        h4 {
            font-size: 25px;
        }
        .answer-item {
            width: 368px;
            margin-bottom: 50px;
        }
    }
}

.question {
    color: rgb(12, 78, 139);
}

.answer-list {
    text-align: end;
    .answer-item {
        height: 35px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media (max-width: 1000px) {
            .answer {
                font-size: 17px;
            }
            .answer-btn {
                font-size: calc(5vmin);
            }
        }
    }
    .answer {
        display: inline-block;
        font-size: 25px;
        vertical-align: middle;
    }
}

.answer-btn {
    font-size: calc(2vmin);
    padding: 0px 20px;
    border-radius: 30px;
    background-color: rgb(12, 78, 139);
    color: white;
    margin-left: 60px;
    &:hover {
        background-color: rgb(2, 54, 100);
    }
    &:focus {
        outline: none;
    }
}

.replay-btn {
    border-radius: 30px;
    padding: 2px 20px;
    background-color: #282c34;
    color: #f6f6e9;
    margin-top: 100px;
    &:hover {
        background-color: #1c1d1f;
    }
    &:focus {
        outline: none;
    }
}